* {
    margin: 0;
    padding: 0;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

body {
    background: #fff url(../imagens/fundo.png) repeat-x;
}

#container{
    width: 75%;
    border: 1px solid red;
    margin: auto;
}

/*INÍCIO CABEÇALHO*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0; 
}

#menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0 30px 0 30px;
}

#menu a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px 10px 15px;
    color: #A56D13;
}

#menu a:hover {
    color: #227115;
    border-bottom: 1px solid #535858;
}

#logo a{
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    background: url(../imagens/logo.png);
    display: block;
}

/*FIM CABEÇALHO*/